/* *,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.header img {
  display: block;
  margin: 0 auto;
  width: 16%;
}

.root {
  margin-top: 5%;
}

body {
  background-color: #bdc2c3;
  background-size: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.female {
  width: 15%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.male {
  width: 15%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.gender {
  user-drag: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  /*margin-left: 34%;*/
  margin-top: 30px;
}
