/* *,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.header img {
  display: block;
  margin: 0 auto;
  width: 16%;
}

.root {
  margin-top: 5%;
}

body {
  background-color: #bdc2c3;
  background-size: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.female {
  cursor: pointer;
  width: 80%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.male {
  cursor: pointer;
  width: 80%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.gender {
  user-drag: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  /*margin-left: 34%;*/
  margin-top: 30px;
}

.container {
  position: relative;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.textm,
.textf {
  user-select: none;
  cursor: pointer;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .root {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header img {
    margin-left: 50px;
    width: 200px;
    height: 200px;
  }

  .gender {
    user-drag: none;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
  }
  .male,
  .female {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
}
